/*IIT Student ID: 20210181
UOW ID: w1867427
Project Title: SmartFIN - Microeconomic level household income sufficiency predictor using a hybrid deep learning approach with XAI
Project Supervisor: Mr. Obhasha Priyankara
Project Supervisee: Suwanda Hennadige Savinthie Vidara Suwandaratna*/
.expenses-page {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:-7%;
    background-color: white;
    
}
.header {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
  }

h2{
margin-top:-8%
}

th{text-align: left;}
  .logout-button {
    background-color: #0e4e8f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 8%;
    margin-right:2%;
    align-items: center;
  }
  
  .logout-button:hover {
    background-color: #0e4e8f;
    color: white;
  }
  .expenses-form-container {
    width: 100%; /* Adjust as needed */
    max-width: 600px;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(26, 33, 217, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
    color:black;
}


.expenses-form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    color:#005ebc;
}

.form-group input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}
.predict-button {
    padding: 12px 20px;
    background-color: #dbba17;
    color:#0e4e8f;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    align-self: flex-start;
    font-weight: 500;

}

.predict-button:hover {
    background-color:#005ebc;
    color:white;
}

.predict-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
.prediction-section {
    margin-top: 20px;
    padding: 20px;
    color:#f3cf19;
    background-color:#005ebc; ;
    border-radius: 8px;
    width: 80%; /* Adjust as needed */
    max-width: 600px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-weight: 100;
  
}

.counterfactuals-section h3{
color:#005ebc;
}

h3{
    font-weight: 200;
}
.prediction-text {
    font-size: 1.2rem;
    font-weight: bold;
}

.counterfactuals-section {
    margin-top: 20px;
     width: 80%; /* Adjust as needed */
    max-width: 600px;
    color:black;
}

.counterfactuals-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.counterfactuals-table th,
.counterfactuals-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    color:#005ebc;
    background-color: #005ebc3f;
}

.counterfactuals-table th {
    background-color: #005ebc;
    color:white;
    font-weight: 200;
    text-align: center;
}
.error-message {
    color: #dc3545;
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}

.chart-container {
    margin-top: 20px;
    width: 50%; /* Make the chart container full width */
    max-width: 1200px; /* Set a maximum width for the chart */
    margin: 0 auto;
  }
  .chart-container-counterfactual{
    display: flex;
    justify-content: space-between;
    width: 50%;
    max-width: 1200px;
    margin: 20px auto 0;
  }
/* Responsive Design */
@media (max-width: 768px) {
    .expenses-form {
        grid-template-columns: 1fr; /* One column on smaller screens */
    }
     .expenses-form-container {
        width: 95%;
    }
    .counterfactuals-section,.prediction-section
    {
         width: 95%;
    }
}