/*IIT Student ID: 20210181
UOW ID: w1867427
Project Title: SmartFIN - Microeconomic level household income sufficiency predictor using a hybrid deep learning approach with XAI
Project Supervisor: Mr. Obhasha Priyankara
Project Supervisee: Suwanda Hennadige Savinthie Vidara Suwandaratna*/
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0056b3;
  transition: background-color 0.3s ease;
}

.signup-form {
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 400px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  justify-content: center;
  align-items: center;
}

.signup-form:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.logo {
  width: 100px;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: rotate(360deg);
}

.signup-form h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
  align-items: center;
  justify-content: center;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #000;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
  transition: border-color 0.3s ease;
  align-content: center;
  justify-content: center;
}

.form-group input:focus {
  border-color: #007bff;
}

.signup-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  font-weight: lighter;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.signup-button:hover {
  background-color: #0056b3;
  color:white;
}

.login-link {
  margin-top: 20px;
  color: #555;
}

.login-link a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.login-link a:hover {
  color: #0056b3;
  text-decoration: underline;
}